---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="categories-section">
    <h2 class="categories-heading">Kategorier</h2>
    <ul class="categories-list">
      {% for category in site.category %}
        <li class="category-item">
          <a href="{{ category.url | relative_url }}" class="category-link">{{ category.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.category %}
        <div class="post-categories">
          <span>Kategorier: </span>
          {% assign categories = post.category | split: "," %}
          {% for category in categories %}
            {% assign trimmed_category = category | strip %}
            {% assign category_slug = trimmed_category | slugify %}
            <a href="{{ site.baseurl }}/kategori/{{ category_slug }}/">{{ trimmed_category }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>